.ez5-coin-viewer-container {
  position: relative;
  display: flex;
  height: 100%;

  .Div-Dig-Obj-Icon-Tooltip {
    position: absolute;
    bottom: 0.4rem;
  }
}

.ez5-coin-viewer-pane {
  .cui-vertical-layout-center {
    padding: 0;
    overflow: hidden!important;
  }

  .cui-buttonbar {
    .cui-button {
      --btn-color: white;
      --btn-border-color: white;
      --btn-color-hover: rgb(255 255 255 / 0.65);
      --btn-background-hover: transparent;
  
      &:not(.cui-disabled) {
        &:hover {
          --btn-border-color: rgb(255 255 255 / 0.65);
        }
      }    
      .cui-button-visual {
        height: 24px;
        min-width: 25.62px;
        font-size: 0.75rem;
        line-height: 24px;
        border-radius: 2px;
      }    
    }
  }
}

.ez5-coin-viewer-buttonbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
  display: block;
  margin-top: 0.5rem;

  .cui-button {
    position: absolute;
    right: 0.5rem;
  }
}

.ez5-coin-viewer-interaction-buttonbar {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
}