name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Fix post run npm cleanup
        run: mkdir -p /home/runner/.npm
        continue-on-error: true

      - uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: 'npm'

      - name: Install dependencies
        run: |
          sudo npm install -g coffeescript@1.12.7 sass

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
        shell: bash

      - name: Extract repository name
        run: echo "REPOSITORY_NAME=$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')" >> $GITHUB_ENV
        shell: bash

      - name: Set zip file name
        run: |
          echo "ZIP_NAME=${{env.REPOSITORY_NAME}}.zip" >> $GITHUB_ENV
          echo "ZIP_HASH_NAME=${{env.REPOSITORY_NAME}}-c7f3a9e2d1b8-latest.zip" >> $GITHUB_ENV

      - name: Build and Package
        shell: bash
        run: make zip

      - name: Prepare Github Pages upload
        shell: bash
        run: |
          mkdir -p public
          cp build/${{ env.ZIP_NAME }} public/${{ env.ZIP_HASH_NAME }}

      - name: Upload to Github Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ steps.get_version.outputs.VERSION }}
          draft: true
          generate_release_notes: true
          files: |
            build/${{ env.ZIP_NAME }}
            README.md

  deploy:
    if: "!github.event.release.prerelease"
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
